<header class="container">
    <div class="row">
        <div class="col-3">
            <h1>ProgettoProva</h1>
        </div>
        <nav class="col-9 display-inline-block">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <!--? DA FAR APPARIRE/SPARIRE CON NGIF NEL CASO L'UTENTE SI LOGGHI  -->
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>